<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="hello" class="examples.spring.Hello">
        <constructor-arg value="Hi!!!"/>
        <property name="who" value="Alice"/>
    </bean>

    <bean id="country" class="examples.spring.Country">
        <property name="capital" ref="moskow"/>
    </bean>


    <bean id="capital" class="examples.spring.Capital">
        <property name="name" value="noname"/>
    </bean>
    <bean id="moskow" class="examples.spring.Capital">
        <property name="name" value="Moskow"/>
    </bean>
</beans>